root = true

[*.{java,kt,xml,md,yml,yaml,json,ts,tsx,js,jsx,ps1,cmd}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{java,kt}]
indent_size = 4

[*.{ps1,cmd}]
end_of_line = crlf
